.customAnimate {
    --rdp-animation_duration: 0.4s; /* Change the duration of the transition. */
    --rdp-animation_timing: ease-in; /* Choose a different timing function. */
}

.colorRoot {
    color: indigo; /* Change the accent color to indigo. */
    --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
    /* Add more CSS variables here. */
}

.rdp-root {
    --rdp-accent-color: blue; /* Use blue as the accent color. */
}
[data-theme="dark"] .rdp-root {
    --rdp-today-color: yellow; /* Use yellow as the accent color in dark mode. */
}
