@import "tailwindcss";
@tailwind utilities;

html {
  --background: #fff;
  --text: #111;
}

html.dark {
  --background: #111;
  --text: #fff;
}


body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

